@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?z66tv1');
    src:    url('../fonts/icomoon.eot?z66tv1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?z66tv1') format('truetype'),
        url('../fonts/icomoon.woff?z66tv1') format('woff'),
        url('../fonts/icomoon.svg?z66tv1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accidente_trabajo:before {
    content: "\e900";
}
.icon-derecho_civil:before {
    content: "\e901";
}
.icon-derecho_comercial:before {
    content: "\e902";
}
.icon-derecho_consumidor:before {
    content: "\e903";
}
.icon-derecho_laboral:before {
    content: "\e904";
}
.icon-despido_indirecto:before {
    content: "\e905";
}
.icon-despido_injustificado:before {
    content: "\e906";
}
.icon-nulidad:before {
    content: "\e907";
}
.icon-tutela_laboral:before {
    content: "\e908";
}

