@media (min-width:1280px) {  
	/*
	.container {
	    width: 970px;
	}
	*/
	.call-contenido {
		padding-left: 15%;
		padding-right: 15%;
	}
	/*
	.banner {
	  min-height: 600px;
	}

	.banner-text {
	    padding: 11em 2em;
	} */
}

