a {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton"; }

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.scroll-top-wrapper:hover {
  background-color: #888888; }

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0; }

.scroll-top-wrapper i.fa {
  line-height: inherit; }

/* Header */
.hea-rgt a, .hvr-shutter-in-horizontal:before {
  background-color: #f77f08; }

.hea-rgt a:hover {
  background: #4e7d37; }

.navbar-fixed .hea-rgt a:hover {
  background: #ffffff;
  color: #f77f08; }

.head-main {
  width: 18%; }

.navbar-fixed {
  opacity: 1;
  z-index: 99999;
  position: fixed;
  width: 100%;
  top: 0;
  background: #4e7d37;
  -webkit-animation: fadeInDown 800ms;
  -moz-animation: fadeInDown 800ms;
  -ms-animation: fadeInDown 800ms;
  -o-animation: fadeInDown 800ms;
  animation: fadeInDown 800ms;
  -webkit-backface-visibility: hidden;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11); }

.navbar-default .navbar-nav > li > a {
  color: #4e7d37;
  font-weight: 600; }

.navbar-default .navbar-nav > li > a:hover {
  color: #f77f08; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f77f08; }

.navbar-fixed .navbar-collapse {
  background: #4e7d37; }

.navbar-fixed .navbar-default {
  background-color: #4e7d37 !important; }

.navbar-fixed .navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default
.navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none; }

#logo-verde {
  display: none; }

.logo-redondo, .logo-verde {
  display: block;
  margin: -8px 30px -13px 0;
  position: absolute;
  float: left;
  z-index: 1; }

/* Iconos */
.service-icon {
  margin-top: 10px;
  padding-top: 3px;
  float: left;
  background: #f77f08;
  color: #fff;
  border-radius: 100%;
  font-size: 42px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms; }

.service-content {
  position: relative;
  padding: 0;
  margin-left: 85px;
  overflow: hidden; }
  .service-content h4, .service-content a {
    color: #4e7d37; }
  .service-content a:hover, .service-content a:focus {
    color: #f77f08; }

/* Slide */
.banner-text {
  background-color: rgba(255, 255, 255, 0.64); }

.banner-text h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #444647; }

/* .Slider */
/* fin Iconos */
.welcome h3 {
  color: #4e7d37; }
.welcome .hea-rgt {
  float: left;
  position: relative;
  left: 50%; }

.welcome-left {
  display: table;
  padding-right: 90px; }

.welcome-mensaje {
  display: table-cell;
  vertical-align: middle; }

/* Call to action */
.callout-dark {
  margin: 30px 0;
  padding: 60px;
  color: #000000;
  background-color: #eeeeee; }
  .callout-dark .btn-default {
    background-color: #f77f08;
    color: #ffffff; }
  .callout-dark h1 {
    color: #4e7d37; }

.callout-dark h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.4; }

.callout-dark p {
  color: #333333;
  font-size: 17px; }

.callout-dark .btn {
  margin-top: 50px; }

/* ./ Call to action */
/*   Grid Servicios */
.cases h3 {
  margin: 0 0 10px; }

#pl-53 {
  margin-bottom: 0px; }

/* ./Grid Servicios */
/* Alternativa GRID servicios */
.main-content section {
  padding: 60px 0;
  position: relative; }
.main-content .title {
  margin: 0 0 20px 0;
  line-height: normal; }
.main-content h2 {
  color: #4e7d37;
  text-transform: uppercase; }
.main-content h3 {
  font-size: 24px;
  line-height: 32px;
  color: #4e7d37; }
.main-content a {
  color: #f77f08; }

.video-embed img {
  margin-top: 20px; }

.feature-icon {
  color: #f77f08;
  font-size: 45px;
  display: inline-block;
  padding: 5px 15px;
  background: #ffffff;
  top: -30px;
  position: relative; }

.feature-content {
  padding: 0 10px 25px 10px;
  margin-top: 20px;
  border: 1px solid #4e7d37;
  position: relative;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms; }
  .feature-content h3 {
    font-size: 16px;
    line-height: normal;
    margin-top: -10px;
    margin-bottom: 5px; }
  .feature-content h4 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #7C7C7C; }

.text-center {
  text-align: center; }

.gap-40 {
  padding-top: 40px; }

/* Alternativa GRID servicios */
/* 404  */
.f-left {
  float: left; }

.f-right {
  float: right; }

.clear {
  clear: both;
  overflow: hidden; }

#block_error {
  width: 845px;
  height: 384px;
  border: 1px solid #cccccc;
  margin: 72px auto 0;
  margin-bottom: 80px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px; }

#block_error div {
  padding: 100px 40px 0 186px; }

#block_error div h2 {
  font-size: 24px;
  display: block;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 12px;
  font-weight: normal; }

/* ./ 404 */
/* Paginas interiores: servicios */
.banner-1 {
  margin-bottom: 40px; }

.panel-default > .panel-heading, .panel-default {
  border: none;
  background: none; }

.servicios a:before {
  font-family: FontAwesome;
  content: "\f101";
  padding-right: 10px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #4e7d37; }

/* */
.footer {
  background: #444647;
  margin-top: 60px; }
  .footer .glyphicon {
    color: #ffffff; }
  .footer address, .footer p {
    color: #cccccc; }

/* Ajustes*/
.correccion-padding {
  padding-left: 30px; }

.page-builder {
  padding-left: 50px;
  padding-right: 80px; }

.page-builder-home {
  padding-left: 25px;
  padding-right: 25px; }

/* */

/*# sourceMappingURL=tmp-style.css.map */
