/* 
  verde: #4e7d37;
  gris:  #444647;
  azul:  #337ab7;
*/

a{
    outline: none !important;
 }

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
/* Header */
.header-top { 
      

}

.head-main {
    width: 18%;
}
.navbar-fixed {
    opacity: 1;
    z-index: 99999;
    position: fixed;
    width: 100%;
    top: 0;
    background: #ffffff; 
    -webkit-animation: fadeInDown 800ms;
    -moz-animation: fadeInDown 800ms;
    -ms-animation: fadeInDown 800ms;
    -o-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
}


/* Iconos */
.service-icon {
    margin-top: 10px;
    float: left;
    background: #CF0204;
    color: #fff;
    border-radius: 100%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.service-content {
    position: relative;
    padding: 0;
    margin-left: 85px;
    overflow: hidden;
}

/* fin Iconos */

.welcome-left {
    display: table;
    padding-right: 90px;
}

.welcome-mensaje {
    display: table-cell;
    vertical-align: middle;
}
/* Call to action */
.callout-dark {
    margin: 30px 0;
    padding: 60px;
    color: #000000;
    background-color: #eeeeee;
}

.callout-dark h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.4;
}

.callout-dark p {
    color: #333333;
    font-size: 17px;
}

.callout-dark .btn {
    margin-top: 50px;
}

/* ./ Call to action */

/* 404  */
.f-left {
    float:left;
}
.f-right {
    float:right;
}
.clear {
    clear: both;
    overflow: hidden;
}
#block_error {
    width: 845px;
    height: 384px;
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    margin-bottom: 80px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
}
#block_error div{
    padding: 100px 40px 0 186px;
}
#block_error div h2{
    font-size: 24px;
    display: block;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
    font-weight: normal;
}
/* ./ 404 */

/* Paginas interiores: servicios */
.banner-1{
  margin-bottom: 40px;
}

.panel-default > .panel-heading, .panel-default {
  border: none;
  background: none;
}

.servicios a:before {
  font-family: FontAwesome;
  content: "\f101";
  padding-right: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #4e7d37;
}

/* */




.footer {
  margin-top: 60px;
}

/* Ajustes*/
.correccion-padding {
    padding-left: 30px;
}

.page-builder {
    padding-left: 50px;
    padding-right: 80px;
}


/* */